<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <h1>The Home Page <%= 4+3+3 %>
                <%= 'Hello World' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente aliquid in, maiores mollitia atque
            eum
            animi
            ut neque assumenda non similique aliquam? Molestias porro quaerat ipsam ipsa expedita atque? Lorem,
            ipsum
            dolor
            sit amet consectetur adipisicing elit. Aperiam, vel adipisci exercitationem quis nobis laudantium
            ratione
            esse.
            Vero, modi dolorum voluptatum repellendus accusantium non minus rem labore quos perferendis explicabo.
            Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptate sit beatae, eaque debitis
            similique
            dolore vitae repellat sapiente reiciendis nobis libero quidem ipsa a ex quae, perspiciatis neque
            molestias.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aperiam, repellendus laborum aliquid
            dolorum
            debitis, vero possimus architecto at itaque alias saepe facere quibusdam veniam error libero quia cum
            excepturi?
        </p>
        <%- include('partials/footer') %>